footer {
  // background-color: #1d2c40;
  .insta-page {
    a {
      text-decoration: underline;
      color: #e49a1b;
    }
  }
  .map {
    text-decoration: underline;
    color: #e49a1b;
  }
  a {
    transition: 0.5s;
    color: #000;
    svg {
      transition: 0.5s;
    }
    &:hover {
      color: #e49a1b;
      transition: 0.5s;
      svg {
        fill: #e49a1b;
        transform: scale(1.1);
        transition: 0.5s;
      }
    }
  }
}
