<div class="feature-wrapper section-padding section-margin" id="about">
    <h1 class="header pb-4">Welcome to Fornax Home Developers
    </h1>
    <div class="row">   
        <div class="col-md-4 col-12">
            <div class="card border-0">
                <picture>
                    <img src="assets/images/feature-1.jpg" class="w-100  rounded-4" alt="">
                </picture>
                <div class="px-4 py-3">
                    <h3>Our legacy</h3>
                    <p>JSW One Homes is a venture started by the world-renowned JSW group: pioneers in the world of core initiatives, like steel, cement, energy, and more.</p>
                </div>
            </div>
         </div>
         <div class="col-md-4 col-12">
            <div class="card border-0">
                <picture>
                    <img src="assets/images/feature-1.jpg" class="w-100  rounded-4" alt="">
                </picture>
                <div class="px-4 py-3">
                    <h3>A turn-key solution</h3>
                    <p>JSW One Homes is a venture started by the world-renowned JSW group: pioneers in the world of core initiatives, like steel, cement, energy, and more.</p>
                </div>
            </div>
         </div>
         <div class="col-md-4 col-12">
            <div class="card border-0">
                <picture>
                    <img src="assets/images/feature-1.jpg" class="w-100  rounded-4" alt="">
                </picture>
                <div class="px-4 py-3">
                    <h3>A turn-key solution</h3>
                    <p>JSW One Homes is a venture started by the world-renowned JSW group: pioneers in the world of core initiatives, like steel, cement, energy, and more.</p>
                </div>    
            </div>
         </div>
    </div>
</div>

