.choose-wrapper {
  .card {
    transition: 0.5s;
    img {
      border-radius: 4px 4px 0 0;
      transition: 0.5s;
    }
    p {
      font-weight: 400;
      padding-top: 10px;
    }
    picture {
      overflow: hidden;
      width: 150px;
      margin: 0 auto;
    }
    h3 {
      margin-top: 25px;
      padding-bottom: 15px;
      font-size: 1.3rem;
    }
    svg {
      fill: #000;
      transition: 0.5s;
    }
    &:hover {
      svg {
        fill: blue;
        transform: scale(1.1);
        transition: 0.5s;
      }
    }
  }
}
