<div class="choose-wrapper section-padding section-margin" id="work">
  <h1 class="header pb-4">Why choose us</h1>
  <div class="row justify-content-center">
    <div class="col-md-4 col-12">
      <div class="card border-0 text-center p-3 mb-5">
        <picture>
          <img src="assets/images/deadline.svg" alt="" />
        </picture>
        <div class="text-center">
          <h3>Travel Less, Save More</h3>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-12">
      <div class="card border-0 text-center p-3 mb-5">
        <picture>
          <img src="assets/images/save.svg" class="p-2" alt="" />
        </picture>
        <div class="text-center">
          <h3>Meet Deadlines Efficiently</h3>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-12">
      <div class="card border-0 text-center p-3 mb-5">
        <picture>
          <img src="assets/images/progress.svg" alt="" />
        </picture>
        <div class="text-center">
          <h3>Track Progress Accurately</h3>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-12">
      <div class="card border-0 text-center p-3 mb-5">
        <picture>
          <img src="assets/images/remotely.svg" alt="" />
        </picture>
        <div class="text-center">
          <h3>Access Sites Remotely</h3>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-12">
      <div class="card border-0 text-center p-3 mb-5">
        <picture>
          <img src="assets/images/documentation.svg" alt="" />
        </picture>
        <div class="text-center">
          <h3>Final Documentation</h3>
        </div>
      </div>
    </div>
  </div>
</div>
