@import "../../shared/variables.scss";

li {
  color: #808080;
  display: inline-block;
  width: 33%;
  padding-bottom: 15px;

  span {
    font-size: 1rem;
    color: #000;
    display: block;
    font-weight: 600;
    padding-top: 10px;
  }
}
h3 {
  border-left: 3px solid $orange;
}
